* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

:root {
  --fb-blue: #0a86f0;
  --fb-black: #090909;
  --fb-red: #ee2340;
  --fb-green: #3db557;
  --fb-yellow: #f6b024;
  --fb-bgcolor: #eef0f3;
  --fb-white: #ffffff;
  --fb-whitebg: #ffffff;
  --dark-color-text: #090909;
  --light-color-text: #606770;
  --button-link: #e0e2e8;
  --stories-bg: #090909;
  --shadow-color: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

body {
  background: var(--fb-bgcolor);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--fb-black);
  position: relative;
}

/* HEADER STYLES */

header {
  background: var(--fb-whitebg);
  height: 62px;
  display: flex;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
}

.header__logo-section {
  display: flex;
}

.header__logo-icon .fa-facebook {
  font-size: 40px;
  color: var(--fb-blue);
}

.header__logo-search {
  position: relative;
  margin-left: 10px;
}
.header__logo-search .fa-search {
  position: absolute;
  top: 11px;
  left: 11px;
  color: var(--light-color-text);
}

.header__logo-search input[type="text"] {
  background: var(--fb-bgcolor);
  padding: 10px;
  border-radius: 25px;
  font-size: 1rem;
  color: var(--light-color-text);
  padding-left: 35px;
  padding-right: 35px;
  font-weight: 300;
  border: none;
}

.header__menu-tabs {
  display: flex;
  max-width: 500px;
  width: 100%;
  flex: none;
}
.header__menu-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 62px;
  border-bottom: 4px solid var(--fb-white);
  color: var(--light-color-text);
  cursor: pointer;
  font-size: 1.2rem;
}
.header__menu-tab--active,
.header__menu-tab:hover {
  border-bottom: 4px solid var(--fb-blue);
}

.header__menu-tab:hover .fas,
.header__menu-tab:hover .fab {
  color: var(--fb-blue);
}

.header__menu-tab--active .fas,
.header__menu-tab--active .fab {
  color: var(--fb-blue);
}

.header__menu-tab .fas,
.header__menu-tab .fab {
  position: relative;
}

.header__notification-bubble {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--fb-red);
  color: white;
  width: 20px;
  height: 20px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -13px;
  right: -11px;
  font-weight: 700;
}

.header__account {
  display: flex;
}

.header__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__user-img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 10px;
}
.header__user-name {
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: 20px;
}

.header__circle-link {
  background: var(--button-link);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--dark-color-text);
  text-decoration: none;
  margin-right: 10px;
}
.header__circle-link .fa-sort-down {
  position: relative;
  top: -3px;
  font-size: 1.4rem;
}
.header__circle-link .fas,
.header__circle-link .fab {
  position: relative;
}
.header__link-icon {
  font-size: 0.9rem;
}

.account__notification-bubble {
  background: var(--fb-red);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-weight: 700;
  position: absolute;
  bottom: 13px;
  left: 10px;
}

/* END HEADER STYLES */
/* CONTENT AREA STYLES */
/* SIDENAV STARTS */
.content-area--feed {
  padding: 90px 15px 20px;
  display: flex;
}

.sidenav {
  width: 300px;
  position: fixed;
  overflow: scroll;
  top: 80px;
  bottom: 0;
}
.sidenav__item {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  cursor: pointer;
}
.sidenav__item-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 15px;
  object-fit: cover;
}
.sidenav__item-title {
  font-size: 1rem;
  font-weight: 400;
}
.sidenav__item-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-right: 15px;
}
.sidenav__item-notification {
  color: var(--fb-blue);
  margin-top: 5px;
  font-size: 0.75rem;
  display: block;
  font-weight: 300;
}
.sidenav__item-notification-circle {
  background: var(--fb-blue);
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 4px;
}
.sidenav__item-icon--circle {
  background: var(--button-link);
  border-radius: 50%;
  font-size: 0.9rem;
}
.sidenav__item-icon--circle-white {
  background: var(--fb-blue);
  border-radius: 50%;
  font-size: 1rem;
}
.sidenav__item-icon .fas,
.sidenav__item-icon .fab {
  color: var(--fb-blue);
}
.sidenav__item-icon--circle .fas,
.sidenav__item-icon--circle .fab {
  color: var(--fb-black);
}
.sidenav__item-icon--circle-white .fas,
.sidenav__item-icon--circle-white .fab {
  color: var(--fb-whitebg);
}

.sidenav__line {
  height: 1.5px;
  background: var(--button-link);
  margin-bottom: 15px;
  display: block;
  width: 85%;
}
.sidenav__heading-title {
  display: block;
  color: var(--light-color-text);
  font-size: 1.1rem;
  margin-bottom: 15px;
}
/* SIDENAV ENDS */
/* FEED START */
.feed {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 325px;
}

/* STORIES START */
.stories {
  display: flex;
  max-width: 700px;
  width: 100%;
  margin-bottom: 20px;
}
.stories__video-container {
  overflow: hidden;
  width: 120px;
  height: 200px;
  border-radius: 5px;
  background: var(--stories-bg);
  position: relative;
  box-shadow: 0px 2px 2px 0px var(--fb-black);
  margin-right: 10px;
  cursor: pointer;
}
.stories__video-container:nth-last-child(1) {
  margin-right: 0px;
}
.stories__bg {
  object-fit: cover;
  object-position: center;
  width: 125px;
  height: 200px;
  opacity: 0.2;
  transition: opacity.3s ease-in-out;
}
.stories__video-container:hover .stories__bg {
  opacity: 0.8;
}
.stories__title {
  position: absolute;
  bottom: 0;
  background: var(--fb-whitebg);
  width: 100%;
  color: var(--fb-black);
  padding: 25px 20px 10px;
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.2;
}
.stories__new-btn {
  background: var(--fb-blue);
  width: 40px;
  height: 40px;
  color: var(--fb-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 4px solid var(--fb-white);
  position: absolute;
  top: -20px;
  left: 35px;
}
.stories__video-container--plain .stories__title {
  background: transparent;
  color: var(--fb-white);
}
.stories__user {
  border: 4px solid var(--fb-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -117px;
  left: 12px;
}
/* STORIES END */
/* FEEDBOX START */
.feed__box {
  padding: 20px;
  background: var(--fb-whitebg);
  max-width: 700px;
  width: 100%;
  flex: none;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.newpost {
  display: flex;
  margin-bottom: 10px;
}
.newpost__user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.newpost input[type="text"] {
  background: var(--fb-bgcolor);
  padding: 10px;
  border-radius: 25px;
  border: none;
  font-size: 1.2rem;
  color: var(--light-color-text);
  padding-left: 20px;
  font-weight: 300;
  width: 100%;
}
.hline {
  height: 1px;
  background: var(--button-link);
  margin-bottom: 15px;
  display: block;
}

.post-types {
  display: flex;
  justify-content: space-between;
}
.post-types__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--light-color-text);
  font-weight: 500;
}
.post-types__item .fas,
.post-types__item .far {
  margin: 10px;
  font-size: 1.5rem;
}
.post-types__item .fa-video {
  color: var(--fb-red);
}
.post-types__item .fa-photo-video {
  color: var(--fb-green);
}
.post-types__item .fa-laugh-beam {
  color: var(--fb-yellow);
}

.photopost {
  padding: 0 0 20px;
  margin-bottom: 20px;
}
.photopost__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 5px;
}
.photopost__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photopost__left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 10px 10px 0px;
}
.photopost__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.photopost__name {
  font-size: 0.9rem;
  margin-bottom: 5px;
  font-weight: 400;
}
.photopost__date {
  font-size: 0.7rem;
  color: var(--light-color-text);
}
.photopost__info .fa-ellipsis-h {
  color: var(--light-color-text);
  font-size: 1.1rem;
  cursor: pointer;
  height: 35px;
  width: 35px;
  padding-top: 10px;
  padding-left: 8px;
}
.photopost__info .fa-ellipsis-h:hover {
  background: #d3d3d3;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.photopost__description {
  padding: 0px 15px;
  margin-bottom: 10px;
}
.photopost__image img {
  width: 100%;
}

.photopost__stats {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: var(--light-color-text);
  font-weight: 300;
  font-size: 0.9rem;
}
.photopost__stats-emojis {
  display: flex;
  justify-content: center;
  align-items: center;
}
.emoji-circle {
  display: flex;
  width: 22px;
  height: 22px;
  background: black;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 0.4rem;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
}
.emoji-circle:nth-child(1) {
  z-index: 3;
}
.emoji-circle:nth-child(2) {
  z-index: 2;
  left: -5px;
}
.emoji-circle:nth-child(3) {
  z-index: 1;
  left: -10px;
}
.emoji-circle--blue {
  background: linear-gradient(
    0deg,
    rgba(4, 60, 108, 1) 0%,
    rgba(10, 134, 240, 1) 100%
  );
}
.emoji-circle--red {
  background: linear-gradient(
    0deg,
    rgba(92, 15, 26, 1) 0%,
    rgba(238, 35, 64, 1) 100%
  );
}
.emoji-circle--yellow {
  background: black;
  overflow: hidden;
}
.emoji-circle--blue .fa-thumbs-up {
  position: relative;
  top: -1px;
  font-size: 0.7rem;
}
.emoji-circle--yellow .fa-surprise {
  color: rgba(246, 176, 36, 1);
  font-size: 1.2rem;
  position: relative;
  top: -1px;
}
.emoji-circle--red .fa-heart {
  font-size: 0.7rem;
}
.photopost__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.photopost__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-color-text);
  width: 100%;
  text-decoration: none;
}
.photopost__link .fas {
  margin-right: 10px;
}

/* CONTACT SECTION */
.contact-nav {
  position: fixed;
  right: 0;
  top: 80px;
  bottom: 0;
  width: 25%;
  overflow: scroll;
}
.contact-nav .hline {
  margin: 0 10px;
  height: 2px;
}
.contact-nav__header {
  display: flex;
  color: var(--light-color-text);
  font-size: 1.2rem;
  justify-content: space-between;
  padding: 20px 10px;
}
.contact-nav__header-right {
  font-size: 1rem;
  margin-right: 15px;
}
.contact-nav__header-right .fa-ellipsis-h {
  margin-left: 35px;
}
.contact-nav__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}
.contact-nav__img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
.contact-nav__item span {
  padding: 0 10px;
}

.edit-button .fa-edit {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: var(--button-link);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  right: 20px;
  bottom: 20px;
  box-shadow: var(--shadow-color);
  position: fixed;
}
.contact-nav__green-btn {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--fb-green);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.white-background {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--fb-bgcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 38px;
  top: 28px;
}
